.small-pic{
    border: 1px solid black;
    float: left;
    position: relative;
}

.large-pic{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    float: left;
    display: none;
    overflow: hidden;
    position: relative;
}

.large-pic img {
    position: absolute;
    margin: 0 auto;
}

.select-frame {
    width: 100px;
    height: 100px;
    background-color: skyblue;    
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
